:host {
    container-type: size;
}

.phone {
    position: relative;
    overflow: hidden;
    width: 33cqw;
    height: 90cqh;
    background-color: #7371ee;
    background-image: linear-gradient(60deg, #7371ee 1%, #a1d9d6 100%);
    border-radius: 5cqh;
    box-shadow:
        0 0 0 2cqh #1f1f1f,
        0 0 0 2cqh #191919,
        0 0 0 2cqh #111;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    // frontal camera/speaker frame
    &:before {
        top: 0;
        width: 50%;
        height: 3cqh;
        background-color: #1f1f1f;
        border-radius: 0 0 3cqh 3cqh;
    }

    .screen {
        position: absolute;
        inset: 0;
        display: flex;
    }

    .card {
        position: absolute;
        width: 80%;
        height: 50%;
        top: 25%;
        left: 10%;
        background: var(--bg-blue);
        font-size: 10cqh;
        box-shadow: var(--mat-sys-level2);
        padding: 10%;
        box-sizing: border-box;
        overflow: hidden;

        &.title-card {
            background: var(--bg-green);
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.category {
    --glow-color: green;
    width: 20cqw;
    font-size: 10cqh;
    text-wrap: balance;
    text-transform: uppercase;
    font-weight: 600;

    p {
        text-shadow: 0px 0px 3cqw var(--glow-color);
    }
}
