@let state = this.state();
@let questions = this.questions();
@let question = this.currentQuestion();

<div class="layout-column g">
    <button mat-flat-button class="error" (click)="reset()">
        <mat-icon>refresh</mat-icon>
        <span>Reset game</span>
    </button>

    <question-selector
        [questions]="questions"
        [currentQuestion]="currentQuestion()"
        (currentQuestionChange)="setQuestion($event)"
        (addQuestion)="addQuestion()"
        canEdit
        (editQuestion)="editQuestion($event)"
        canDelete
        (deleteQuestion)="deleteQuestion($event)">
        <question-display *question="let question; from: questions">
            <span>{{ question.gameId | gameName }}</span>
        </question-display>
    </question-selector>

    @if (question) {
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <span>{{ question.gameId | gameName }}</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="layout-column g p-y">
                <div class="layout-row layout-items-fill g">
                    @for (review of question.reviews; track $index) {
                        <button
                            mat-flat-button
                            (click)="setReview($index)"
                            [disabled]="state.currentReview === $index">
                            <span>{{ $index + 1 }}</span>
                        </button>
                    }
                    <button
                        mat-flat-button
                        (click)="showAnswer()"
                        [disabled]="state.showingAnswer">
                        <span>A</span>
                    </button>
                </div>
                @let review = question.reviews[state.currentReview];
                <p>
                    <strong>{{ review.username }}</strong>
                    @if (review.isPositive) {
                        <strong> recommends</strong>
                    } @else {
                        <strong> does not recommend</strong>
                    }
                    <span> this game, with </span>
                    <strong>{{ review.hoursPlayed }} hours</strong>
                    <span> played.</span>
                </p>

                <strong>Review:</strong>

                <mat-card>
                    <mat-card-content class="layout-column g">
                        <p class="pre">
                            <span>{{
                                review.review
                                    | splitSentence: state.currentSentence
                            }}</span>
                            <em class="text-disabled-alt">{{
                                review.review
                                    | splitSentenceAtIndex
                                        : state.currentSentence
                            }}</em>
                            <span class="text-disabled">{{
                                review.review
                                    | splitSentence
                                        : state.currentSentence + 1
                                        : true
                            }}</span>
                        </p>
                        <mat-progress-bar
                            [value]="
                                (state.currentSentence /
                                    (review.review | splitSentenceCount)) *
                                100
                            " />
                        <button
                            mat-flat-button
                            (click)="revealNextSentence()"
                            [disabled]="
                                state.currentSentence >=
                                (review.review | splitSentenceCount)
                            ">
                            <span>Reveal next sentence</span>
                        </button>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    }
</div>
