.answer-card {
    position: absolute;
    padding: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--rounding);
    box-shadow: var(--mat-sys-level5);

    game-hero {
        height: 100%;
        width: 100%;
    }
}

.steam-card {
    container-type: size;
    height: 100%;
    width: 100%;
    --gap: 3cqh;
    background-color: rgb(39, 65, 86);
    font-family: 'Brisa Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    border-radius: var(--rounding);
    box-shadow: var(--mat-sys-level5);

    .header {
        container-type: size;
        height: 15cqh;
        background-color: rgb(0, 0, 0, 0.2);
        margin: var(--gap);
        gap: var(--gap);
        margin-bottom: 0;

        .layout-row {
            gap: var(--gap);
        }

        img {
            aspect-ratio: 1;
            height: 100cqh;
        }

        .header-title {
            font-size: 40cqh;
            font-weight: 400;
            color: #d6d7d8;
        }

        .header-subtitle {
            font-size: 25cqh;
            color: #8091a2;
        }
    }

    .content {
        padding: var(--gap);
    }

    .profile {
        gap: var(--gap);

        img {
            aspect-ratio: 1;
            height: 25cqh;
            width: 25cqh;
            border-color: rgb(143, 185, 59);
            border-style: solid;
            border-width: 3px;
        }

        .profile-name {
            font-size: 4cqh;
            font-weight: 700;
            color: #c1dbf4;
        }
    }

    .review {
        color: #acb2b8;
        font-size: 5cqh;
        padding: 0 var(--gap);
    }
}

.hidden {
    opacity: 0;
}
