@let state = this.state();
@let question = this.currentQuestion();
@let imgThumbsUp = 'img/lightly_steamed/thumbsUp.png';
@let imgThumbsDown = 'img/lightly_steamed/thumbsDown.png';
@let avatarBase = 'img/lightly_steamed/avatar';

@if (question) {
    <div @fadeInOut class="game-panel">
        <div class="answer-card" [class.hidden]="!state.showingAnswer">
            <game-hero [gameId]="question.gameId" />
        </div>
        <div
            class="steam-card layout-column"
            [class.hidden]="state.showingAnswer">
            @let review = question.reviews[state.currentReview];
            <div class="header layout-row">
                <img [src]="review.isPositive ? imgThumbsUp : imgThumbsDown" />
                <div class="layout-column layout-items-middle">
                    @if (review.isPositive) {
                        <span class="header-title">Recommended</span>
                    } @else {
                        <span class="header-title">Not Recommended</span>
                    }
                    <span class="header-subtitle"
                        >{{ review.hoursPlayed }} hours on record</span
                    >
                </div>
            </div>

            <div class="content layout-row layout-fill">
                <div class="profile layout-column layout-basis-1/4">
                    <img
                        [src]="avatarBase + randomAvatarNum() + '.png'"
                        class="bg-{{ randomAvatarColor() }}" />
                    <span class="profile-name">{{ review.username }}</span>
                </div>
                <div
                    class="review layout-column layout-basis-3/4"
                    [fitText]="review.review">
                    <p class="pre">
                        <span>{{
                            review.review | splitSentence: state.currentSentence
                        }}</span>
                        <span class="hidden">
                            {{
                                review.review
                                    | splitSentence
                                        : state.currentSentence
                                        : true
                            }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
