:host {
    container-type: size;
}

h1,
h2 {
    text-wrap: balance;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 75%;
}

h1 {
    font-size: 15cqh;
}

h2 {
    font-size: 10cqh;
}
