@let state = gameState(); @let questions = gameQuestions();

<div class="layout-column g">
    <button mat-flat-button class="error" (click)="reset()">
        <mat-icon>refresh</mat-icon>
        <span>Reset game</span>
    </button>

    <mat-form-field class="layout-fill">
        <mat-label>Current question</mat-label>
        <mat-select
            [value]="currentQuestionId()"
            (valueChange)="setQuestion($event)"
        >
            <mat-option [value]="null">None</mat-option>
            @for (question of questions; track question.firebaseId) {
                <mat-option [value]="question.firebaseId">
                    <span
                        >{{ question.name }} ({{ question.items.length }})</span
                    >
                </mat-option>
            }
        </mat-select>
        <mat-hint
            >Select the question to play. Select "None" to go back to the
            list.</mat-hint
        >
    </mat-form-field>

    <div class="layout-row layout-items-fill g">
        <button mat-flat-button (click)="addQuestion()">
            <mat-icon>add_circle</mat-icon>
            <span>Add question</span>
        </button>
        <button
            mat-flat-button
            (click)="editQuestion(currentQuestion())"
            [disabled]="currentQuestion() === undefined"
        >
            <mat-icon>edit</mat-icon>
            <span>Edit question</span>
        </button>
        <button
            mat-flat-button
            class="error"
            (click)="deleteQuestion(currentQuestion()!)"
            [disabled]="currentQuestion() === undefined"
        >
            <mat-icon>delete</mat-icon>
            <span>Delete question</span>
        </button>
    </div>

    <mat-form-field>
        <mat-label>Committed to</mat-label>
        <input
            matInput
            type="number"
            [(ngModel)]="committedTo"
            [min]="0"
            [max]="possibleItems()"
            [disabled]="currentQuestion() === undefined"
        />
        <button
            mat-icon-button
            matSuffix
            matTooltip="Increment + 1"
            (click)="committedTo.set(committedTo() + 1)"
            [disabled]="
                currentQuestion() === undefined ||
                committedTo() >= possibleItems()
            "
        >
            <mat-icon>arrow_circle_up</mat-icon>
        </button>
        <button
            mat-icon-button
            matSuffix
            matTooltip="Decrement - 1"
            (click)="committedTo.set(committedTo() - 1)"
            [disabled]="currentQuestion() === undefined || committedTo() === 0"
        >
            <mat-icon>arrow_circle_down</mat-icon>
        </button>
        <button
            mat-icon-button
            matSuffix
            matTooltip="Save"
            (click)="setCommittedTo(committedTo())"
            [disabled]="
                currentQuestion() === undefined ||
                state.committedTo === committedTo()
            "
        >
            <mat-icon>save</mat-icon>
        </button>
        <mat-hint
            >Update the amount of items the players are committing to, then
            click Save.</mat-hint
        >
    </mat-form-field>

    @if (currentQuestion() !== undefined) {
        <mat-card>
            <mat-card-header>
                <mat-card-title
                    >{{ currentQuestion()?.name }} ({{
                        guessedAnswerCount()
                    }})</mat-card-title
                >
                <mat-card-subtitle>
                    <span>{{ currentQuestion()?.description }}</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="button-grid p-y">
                    @for (
                        answer of currentQuestion()!.items | sort;
                        track $index
                    ) {
                        <button
                            mat-raised-button
                            [disabled]="state.guessedAnswers.includes(answer)"
                            (click)="setGuess(answer)"
                        >
                            <span>{{ answer }}</span>
                        </button>
                    }
                </div>
            </mat-card-content>
            <mat-card-actions>
                <mat-slide-toggle
                    [checked]="showingRemainingAnswers()"
                    (toggleChange)="toggleShowRemainingAnswers()"
                    >Show remaining answers</mat-slide-toggle
                >
            </mat-card-actions>
        </mat-card>
    }
</div>
