@let state = this.state(); @let questions = this.questions();

<div class="layout-column g">
    <question-selector
        [questions]="questions"
        [currentQuestion]="currentQuestion()"
        (currentQuestionChange)="setQuestion($event)"
        (reset)="reset()"
        [documentation]="docs"
        (addQuestion)="addQuestion()"
        canEdit
        (editQuestion)="editQuestion($event)"
        canDelete
        (deleteQuestion)="deleteQuestion($event)">
        <question-display *question="let question; from: questions">
            <span>{{ question.name }}</span>
            <span> ({{ question.items.length }})</span>
        </question-display>
    </question-selector>

    <mat-form-field>
        <mat-label>Committed to</mat-label>
        <input
            matInput
            type="number"
            [(ngModel)]="committedTo"
            [min]="0"
            [max]="possibleItems()"
            [disabled]="currentQuestion() === undefined" />
        <button
            mat-icon-button
            matSuffix
            matTooltip="Increment + 1"
            (click)="committedTo.set(committedTo() + 1)"
            [disabled]="
                currentQuestion() === undefined ||
                committedTo() >= possibleItems()
            ">
            <mat-icon>arrow_circle_up</mat-icon>
        </button>
        <button
            mat-icon-button
            matSuffix
            matTooltip="Decrement - 1"
            (click)="committedTo.set(committedTo() - 1)"
            [disabled]="currentQuestion() === undefined || committedTo() === 0">
            <mat-icon>arrow_circle_down</mat-icon>
        </button>
        <button
            mat-icon-button
            matSuffix
            matTooltip="Save"
            (click)="setCommittedTo(committedTo())"
            [disabled]="
                currentQuestion() === undefined ||
                state.committedTo === committedTo()
            ">
            <mat-icon>save</mat-icon>
        </button>
        <mat-hint
            >Update the amount of items the players are committing to, then
            click Save.</mat-hint
        >
    </mat-form-field>

    @if (currentQuestion() !== undefined) {
        <mat-card>
            <mat-card-header>
                <mat-card-title
                    >{{ currentQuestion()?.name }} ({{
                        guessedAnswerCount()
                    }})</mat-card-title
                >
                <mat-card-subtitle>
                    <span>{{ currentQuestion()?.description }}</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="layout-row layout-items-fill g">
                    <button mat-flat-button (click)="toggleMainTimer()">
                        <mat-icon>{{
                            state.mainTimerRunning ? 'stop' : 'play_arrow'
                        }}</mat-icon>
                        @if (state.mainTimerRunning) {
                            <span>Stop 2 minute timer</span>
                        } @else {
                            <span>Start 2 minute timer</span>
                        }
                    </button>

                    <button mat-flat-button (click)="toggleSecondaryTimer()">
                        <mat-icon>{{
                            state.secondaryTimerRunning ? 'stop' : 'play_arrow'
                        }}</mat-icon>
                        @if (state.secondaryTimerRunning) {
                            <span>Stop 30 second timer</span>
                        } @else {
                            <span>Start 30 second timer</span>
                        }
                    </button>
                </div>
                <div class="button-grid p-y">
                    @for (
                        answer of currentQuestion()!.items | sort;
                        track $index
                    ) {
                        <button
                            mat-raised-button
                            [disabled]="state.guessedAnswers.includes(answer)"
                            (click)="setGuess(answer)">
                            <span>{{ answer }}</span>
                        </button>
                    }
                </div>
            </mat-card-content>
            <mat-card-actions>
                <mat-slide-toggle
                    [checked]="showingRemainingAnswers()"
                    (toggleChange)="toggleShowRemainingAnswers()"
                    >Show remaining answers</mat-slide-toggle
                >
            </mat-card-actions>
        </mat-card>
    }
</div>
