@let state = gameState();

@if (currentQuestion() === undefined) {
    <div @fadeInOut class="game-panel">
        <!-- <categories>
            @for (question of gameQuestions(); track question.id) {
                <category [selected]="state.questionsDone.includes(question.id)"
                    >{{ question.name }}
                </category>
            }
        </categories> -->
    </div>
} @else {
    <div @fadeInOut class="game-panel">
        @if (state.mainTimerRunning) {
            <countdown-timer @fadeInOut [length]="120" [muted]="muted()" />
        } @else if (state.secondaryTimerRunning) {
            <countdown-timer @fadeInOut [length]="30" [muted]="muted()" />
        }

        <div class="layout-column">
            <h1>{{ currentQuestion()?.name }}</h1>
            <h2>
                {{ currentQuestion()?.description }} ({{
                    possibleAnswersCount()
                }})
            </h2>
        </div>

        <div class="guesses">
            @for (answer of guessedAnswers(); track answer) {
                <div
                    class="box correct animate__animated animate__pulse"
                    [fitText]="answer">
                    <span>{{ answer }}</span>
                </div>
            }
            @if (!state.showRemainingAnswers) {
                @if (state.committedTo > guessedAnswers().length) {
                    @for (
                        number of state.committedTo - guessedAnswerCount()
                            | numberArray;
                        track number
                    ) {
                        <div class="box committed"></div>
                    }
                }
                @for (
                    number of unguessedAnswerCount() | numberArray;
                    track number
                ) {
                    <div class="box uncommitted"></div>
                }
            } @else {
                @for (answer of answers(); track answer) {
                    @if (!guessedAnswers().includes(answer)) {
                        <div class="box uncommitted" [fitText]="answer">
                            <span>{{ answer }}</span>
                        </div>
                    }
                }
            }
        </div>
    </div>
}
