.categories {
    height: 75%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: calc(3 * var(--padding-amount));

    .category {
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-wrap: balance;
        font-size: 60px;
        border-radius: var(--rounding);
        box-shadow: var(--mat-sys-level5);
        background: var(--bg-blue);

        &.selected {
            filter: grayscale(1);
        }
    }
}

.guesses {
    display: grid;
    height: 75%;
    width: 80%;
    /* Creates flexible columns */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Rows start at 50px but grow as needed */
    grid-auto-rows: minmax(75px, 500px);
    /* Spacing between items */
    gap: var(--padding-amount);

    .box {
        display: flex;
        padding: var(--padding-amount) calc(2 * var(--padding-amount));
        border-radius: var(--rounding);
        box-sizing: border-box;
        box-shadow: var(--mat-sys-level5);
        background: var(--bg-grey);
        justify-content: center;
        align-items: center;
        text-align: center;
        text-wrap: balance;
        font-size: 50px;
        overflow: hidden;

        &.committed {
            background: var(--bg-yellow);
        }

        &.correct {
            background: var(--bg-blue);
        }
    }
}
