<h3>Home</h3>

<h4>Active games</h4>

<mat-card
    cdkDropList
    #activeList="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="activeGames"
    [cdkDropListConnectedTo]="[inactiveList]"
    (cdkDropListDropped)="drop($event)"
    class="game-track active">
    @for (game of activeGames(); track game.slug) {
        <mat-card
            cdkDrag
            [cdkDragDisabled]="loading()"
            class="game"
            [routerLink]="['..', 'director', game.slug]">
            <img src="img/games/thumbs/{{ game.slug }}.webp" />
        </mat-card>
    } @empty {
        <span class="placeholder">Drag games here to make them active.</span>
    }
</mat-card>

<h4>Inactive games</h4>

<mat-card
    cdkDropList
    #inactiveList="cdkDropList"
    cdkDropListOrientation="mixed"
    [cdkDropListData]="inactiveGames"
    [cdkDropListConnectedTo]="[activeList]"
    (cdkDropListDropped)="drop($event)"
    class="game-track inactive">
    @for (game of inactiveGames(); track game.slug) {
        <mat-card
            cdkDrag
            [cdkDragDisabled]="loading()"
            class="game"
            [routerLink]="['..', 'director', game.slug]">
            <img src="img/games/thumbs/{{ game.slug }}.webp" />
        </mat-card>
    } @empty {
        <span class="placeholder">Drag games here to make them inactive.</span>
    }
</mat-card>
