<div class="layout-fill">
    @if (debugging()) {
        <button (click)="playing() ? stop() : play()">
            @if (playing()) {
                <span>Stop</span>
            } @else {
                <span>Play</span>
            }
        </button>
    }
    <audio
        #audio
        crossorigin="anonymous"
        [src]="src()"
        (play)="onPlay()"
        (pause)="onPause()"
        (ended)="onEnded()"></audio>

    <div
        class="visualizer layout-fill layout-row layout-items-fill layout-items-bottom">
        @for (bar of barsCapped(); track $index) {
            <div class="bar" [style.height.%]="bar"></div>
        }
    </div>
</div>
