:host {
    height: 75%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: calc(3 * var(--padding-amount));
}

.category {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    font-size: 60px;
    border-radius: var(--rounding);
    box-shadow: var(--mat-sys-level5);
    background: var(--bg-blue);
    transition: filter 1s;

    &.selected {
        filter: grayscale(1);
    }
}
