<div class="clock-container">
    <div class="clock-face" [style.--total-numbers]="duration()">
        @for (num of numbers(); track $index) {
            <!-- Don't display first number, but display all the rest -->
            @if ($index !== 0) {
                <div class="number" [style.--index]="$index">
                    <span>{{ num }}</span>
                </div>
            }
        }
        <img
            class="clock-hand"
            src="img/pockety.png"
            [style.--rotation]="rotationDeg()" />
    </div>
</div>
