:host {
    font-family: var(--game-font-family);
    font-variant: tabular-nums;
    color: white;
    container-type: size;
}

.container {
    width: 100%;
    height: 100%;
    background-image: var(--bg-purple);
    border-radius: var(--rounding);
    box-shadow: var(--mat-sys-level3);
    align-content: center;

    h1 {
        font-size: 80cqh;
        margin: 0;
        text-align: center;
        text-shadow: 3cqh 3cqh 3cqh #000000aa;
    }
}
