@let logoUrl = game | gameLogoSrc;
@let heroUrl = game | gameHeroSrc;

<mat-toolbar>
    <span>Edit game: {{ game.name }}</span>
    <span class="layout-fill"></span>
    <button mat-icon-button [disabled]="loading()" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-dialog-content class="layout-column g" #focus>
    @if (logoLoading()) {
        <div class="placeholder logo">
            <mat-spinner />
        </div>
    } @else if (logoUrl || logoFileToUpload()) {
        @let logoSrc = (logoFileToUpload() | blobToUrl) || logoUrl;
        <div class="logo">
            <img [src]="logoSrc" />
        </div>
    } @else {
        <div class="placeholder logo">
            <h3>No logo found</h3>
        </div>
    }

    <div class="layout-row layout-items-middle g">
        <button mat-flat-button (click)="selectNewImage('logo')">
            <span>Select new logo</span>
        </button>
        <span>OR</span>
        <image-field
            class="layout-fill"
            label="Replace logo image"
            [(fileToUpload)]="logoFileToUpload"
            [focusElement]="focus" />
    </div>

    @if (heroLoading()) {
        <div class="placeholder hero">
            <mat-spinner />
        </div>
    } @else if (heroUrl || heroFileToUpload()) {
        @let heroSrc = (heroFileToUpload() | blobToUrl) || heroUrl;
        <img class="hero" [src]="heroSrc" />
    } @else {
        <div class="placeholder hero">
            <h3>No hero found</h3>
        </div>
    }
    <div class="layout-row layout-items-middle g">
        <button mat-flat-button (click)="selectNewImage('hero')">
            <span>Select new hero</span>
        </button>
        <span>OR</span>
        <image-field
            class="layout-fill"
            label="Replace hero image"
            [(fileToUpload)]="heroFileToUpload"
            [focusElement]="focus" />
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button class="error" (click)="deleteGame(game)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
    </button>
    @if (game.steamGridDbId) {
        <a
            mat-button
            href="https://www.steamgriddb.com/game/{{ game.steamGridDbId }}"
            target="_blank">
            <mat-icon>open_in_new</mat-icon>
            <span>Open SGDB</span>
        </a>
    }
    <button mat-button [matMenuTriggerFor]="makeImageMenu">
        <mat-icon>image</mat-icon>
        <span>Make image</span>
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>
    <span class="layout-fill"></span>
    <button
        mat-flat-button
        [disabled]="
            (logoFileToUpload() === null && heroFileToUpload() === null) ||
            loading()
        "
        (click)="submit()">
        <mat-icon>save</mat-icon>
        <span>Save</span>
    </button>
</mat-dialog-actions>

<mat-menu #makeImageMenu="matMenu">
    <button mat-menu-item (click)="makeImage(1000, 1000)">
        <mat-icon>crop_square</mat-icon>
        <span>1:1 (1000x1000)</span>
    </button>
    <mat-divider />
    <button mat-menu-item (click)="makeImage(1400, 1050)">
        <mat-icon>crop_square</mat-icon>
        <span>4:3 (1400x1050)</span>
    </button>
    <button mat-menu-item (click)="makeImage(1050, 1400)">
        <mat-icon>crop_square</mat-icon>
        <span>3:4 (1050x1400)</span>
    </button>
    <mat-divider />
    <button mat-menu-item (click)="makeImage(1920, 1080)">
        <mat-icon>crop_16_9</mat-icon>
        <span>16:9 (1920x1080)</span>
    </button>
    <button mat-menu-item (click)="makeImage(1080, 1920)">
        <mat-icon>crop_9_16</mat-icon>
        <span>9:16 (1080x1920)</span>
    </button>
</mat-menu>
