@let state = this.state();
@let questions = this.questions();
@let question = this.currentQuestion();

<div class="layout-column g">
    <button mat-flat-button (click)="cardBackUpload.click()">
        <mat-icon>image</mat-icon>
        <span>Upload new card back</span>
    </button>
    <input
        type="file"
        hidden
        #cardBackUpload
        (change)="uploadCardBack($event)" />

    <question-selector
        [questions]="questions"
        [currentQuestion]="currentQuestion()"
        (currentQuestionChange)="setQuestion($event)"
        (reset)="reset()"
        (addQuestion)="addQuestion()"
        canEdit
        (editQuestion)="editQuestion($event)"
        canDelete
        (deleteQuestion)="deleteQuestion($event)">
        <question-display *question="let question; from: questions">
            <span>{{ question.name }}</span>
        </question-display>
    </question-selector>

    @if (question) {
        <mat-card class="g">
            <mat-card-header>
                <mat-card-title>{{ question.name }}</mat-card-title>
                <mat-card-subtitle>{{
                    question.description
                }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="layout-column g">
                <button
                    mat-flat-button
                    (click)="revealItem()"
                    [disabled]="state.revealedCards >= question.items.length">
                    <mat-icon>arrow_forward</mat-icon>
                    <span> Reveal next card </span>
                </button>

                <mat-list cdkDropList>
                    @for (
                        item of guessedItemOrder();
                        track item.index;
                        let last = $last
                    ) {
                        <mat-list-item
                            cdkDrag
                            (cdkDragDropped)="reorder($event)">
                            <mat-icon matListItemIcon cdkDragHandle
                                >drag_indicator</mat-icon
                            >
                            <span
                                >{{ item.name }} ({{ item.value
                                }}{{ question.itemSuffix }})</span
                            >
                            <mat-list-item
                                *cdkDragPlaceholder
                                class="cdk-placeholder" />
                        </mat-list-item>
                        @if (!last) {
                            <mat-divider />
                        }
                    } @empty {
                        <mat-list-item>No items.</mat-list-item>
                    }
                </mat-list>

                <button
                    mat-flat-button
                    (click)="revealAnswer()"
                    [disabled]="
                        state.revealedCards < question.items.length ||
                        state.revealedAnswers >= question.items.length
                    ">
                    <mat-icon>check_circle</mat-icon>
                    <span>Reveal next answer</span>
                </button>
            </mat-card-content>
        </mat-card>
    }
</div>
