playing-card-back {
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

playing-card-front {
    img {
        flex-grow: 1;
        width: 100%;
        object-fit: cover;
        // This might seem weird, but it corrects an issue where if the img
        // is taller than it is wide, it pushes the label below beyond the edge
        // of the card.
        height: 0;
    }

    .label {
        height: 100px;
        background: var(--bg-blue);
        font-size: 42px;
        text-wrap: balance;
        align-content: center;
    }
}

.scale {
    padding: var(--padding-amount);
    border-radius: var(--rounding);
    background-image: linear-gradient(
        90deg,
        hsla(355, 85%, 63%, 1) 0%,
        hsla(192, 80%, 51%, 1) 100%
    );
    font-size: 50px;
    text-transform: uppercase;
    box-shadow: var(--mat-sys-level3);
}
