@let state = gameState();
@let questions = gameQuestions();
@let question = currentQuestion();
@let cardBackUrl = 'games/ranky-panky/card-back' | uploadedFileUrl | async;

@if (!question) {
    <div @fadeInOut class="game-panel">
        <categories>
            @for (question of questions; track $index) {
                <category
                    [selected]="state.questionsDone.includes(question.id)"
                    >{{ question.name }}</category
                >
            }
        </categories>
    </div>
} @else {
    <div @fadeInOut class="game-panel">
        <h1>{{ question.name }}</h1>
        <div class="layout-column g">
            <div slideGroup class="layout-row g">
                @for (item of currentGuessedItems(); track item.index) {
                    @let path = item.uploadedFilePath;
                    <playing-card
                        slideItem
                        [showingFront]="$index + 1 <= state.revealedCards">
                        <playing-card-back>
                            <img src="{{ cardBackUrl }}" />
                        </playing-card-back>
                        <playing-card-front class="layout-column">
                            <img src="{{ path | uploadedFileUrl | async }}" />
                            <div class="label" [fitText]="item.name">
                                <span>{{ item.name }}</span>
                            </div>
                        </playing-card-front>
                    </playing-card>
                }
            </div>
            <div class="scale layout-row">
                <span>{{ question.topLabel }}</span>
                <span class="layout-fill"></span>
                <span>{{ question.bottomLabel }}</span>
            </div>
            <div slideGroup class="layout-row g">
                @for (item of answers(); track item.index) {
                    @let path = item.uploadedFilePath;
                    <playing-card
                        slideItem
                        [showingFront]="
                            answers().length - state.revealedAnswers <= $index
                        ">
                        <playing-card-back>
                            <img src="{{ cardBackUrl }}" />
                        </playing-card-back>
                        <playing-card-front class="layout-column">
                            <img src="{{ path | uploadedFileUrl | async }}" />
                            <div class="label" [fitText]="item.name">
                                <span
                                    >{{ item.value
                                    }}{{ question.itemSuffix }}</span
                                >
                            </div>
                        </playing-card-front>
                    </playing-card>
                }
            </div>
        </div>
    </div>
}
