<mat-toolbar>
    <span>Edit items: {{ questionName }}</span>
</mat-toolbar>

<mat-dialog-content class="visible">
    <div class="layout-row g">
        <mat-card class="layout-fill layout-basis-1/2">
            <mat-card-header>
                <mat-card-title>Items (reveal order)</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list cdkDropList>
                    @for (
                        item of questionItems();
                        track item.name;
                        let index = $index;
                        let last = $last
                    ) {
                        <mat-list-item
                            cdkDrag
                            (cdkDragDropped)="reorder($event)"
                        >
                            <mat-icon matListItemIcon cdkDragHandle
                                >drag_indicator</mat-icon
                            >
                            <span>{{ item.name }} ({{ item.value }})</span>
                            <div matListItemMeta>
                                <button
                                    mat-icon-button
                                    (click)="deleteItem(index)"
                                    matTooltip="Delete item"
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                            <mat-list-item
                                *cdkDragPlaceholder
                                class="cdk-placeholder"
                            />
                        </mat-list-item>
                        @if (!last) {
                            <mat-divider />
                        }
                    } @empty {
                        <mat-list-item>No items.</mat-list-item>
                    }
                </mat-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="layout-fill layout-basis-1/2">
            <mat-card-header>
                <mat-card-title>Add an item</mat-card-title>
            </mat-card-header>
            <mat-card-content class="layout-column p-y">
                <mat-form-field>
                    <mat-label>Item name</mat-label>
                    <input matInput [(ngModel)]="itemName" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Item value</mat-label>
                    <input matInput type="number" [(ngModel)]="itemValue" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Image</mat-label>
                    <input
                        matInput
                        readonly
                        [value]="
                            fileInput.files![0]
                                ? fileInput.files![0].name
                                : 'Upload a file'
                        "
                    />
                    <button matSuffix mat-button (click)="fileInput.click()">
                        Choose file
                    </button>
                </mat-form-field>
                <input
                    type="file"
                    #fileInput
                    hidden
                    (change)="fileToUpload.set(fileInput.files![0])"
                />
            </mat-card-content>
            <mat-card-actions class="g">
                <mat-progress-bar
                    class="layout-fill"
                    mode="determinate"
                    [value]="uploadProgress()"
                />
                <button
                    mat-flat-button
                    (click)="addItem()"
                    [disabled]="!addItemValid() || loading()"
                >
                    Add
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button
        mat-flat-button
        [disabled]="!isValid() || loading()"
        (click)="submit()"
    >
        <span>Save and close</span>
    </button>
</mat-dialog-actions>
