@let state = this.state();
@let questions = this.questions();
@let question = this.currentQuestion();

<div class="layout-column g">
    <button mat-flat-button class="error" (click)="reset()">
        <mat-icon>refresh</mat-icon>
        <span>Reset game</span>
    </button>

    <mat-card class="p g">
        <mat-form-field class="layout-fill">
            <mat-label>Current question</mat-label>
            <mat-select
                [value]="currentQuestion()"
                (valueChange)="setQuestion($event)">
                <mat-option [value]="null">None</mat-option>
                @for (question of questions; track question.id) {
                    <mat-option [value]="question">
                        <span>{{ question.name }}</span>
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <div class="layout-row layout-items-fill g">
            <button mat-flat-button (click)="addQuestion()">
                <mat-icon>add_circle</mat-icon>
                <span>Add question</span>
            </button>
            <button
                mat-flat-button
                (click)="editQuestion(question!)"
                [disabled]="question === undefined">
                <mat-icon>edit</mat-icon>
                <span>Edit question</span>
            </button>
            <button
                mat-flat-button
                class="error"
                (click)="confirmDeleteQuestion(question!)"
                [disabled]="question === undefined">
                <mat-icon>delete</mat-icon>
                <span>Delete question</span>
            </button>
        </div>
    </mat-card>

    @if (question) {
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ question.name }}</mat-card-title>
                <mat-card-subtitle>{{
                    question.description
                }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="layout-column p-y">
                <button
                    mat-flat-button
                    [disabled]="state.revealedCount >= question.items.length"
                    (click)="addNextItem()">
                    <span>Add next item</span>
                </button>
            </mat-card-content>
            <mat-list cdkDropList>
                @for (item of displayedItems(); track item.order) {
                    @let isSorted =
                        sortedRevealedIndexes().includes(item.order);
                    <mat-list-item
                        cdkDrag
                        [cdkDragDisabled]="isSorted"
                        (cdkDragDropped)="reorder($event)">
                        @if (!isSorted) {
                            <mat-icon matListItemIcon>drag_indicator</mat-icon>
                        }
                        <span>{{ item.name }} ({{ item.value }})</span>
                    </mat-list-item>
                    @if (!$last) {
                        <mat-divider />
                    }
                }
            </mat-list>
        </mat-card>
    }
</div>
