@let state = this.state();
@let questions = this.questions();
@let question = this.currentQuestion();

@if (!question) {
    <div @fadeInOut class="game-panel">
        <categories>
            @for (question of questions; track question.id) {
                <category
                    [selected]="state.questionsDone.includes(question.id)">
                    <span>{{ question.name }}</span>
                </category>
            }
        </categories>
    </div>
} @else if (displayedItemsWithImages()) {
    <div @fadeInOut class="game-panel">
        <div class="container layout-column g">
            <h1>{{ question.name }}</h1>
            <div
                slideGroup
                class="layout-row layout-items-bottom layout-items-center g track"
                [style.--card-count]="displayedItems().length">
                @for (item of displayedItemsWithImages(); track item.order) {
                    @let isSorted =
                        sortedRevealedIndexes().includes(item.order);
                    <div class="card" slideItem>
                        <playing-card
                            @fadeInOut
                            [class.next]="!isSorted"
                            [animated]="!isSorted"
                            [showingFront]="isSorted">
                            <playing-card-back>
                                <ng-container
                                    [ngTemplateOutlet]="cardTemplate"
                                    [ngTemplateOutletContext]="{
                                        $implicit: item,
                                        front: false,
                                    }" />
                            </playing-card-back>
                            <playing-card-front>
                                <ng-container
                                    [ngTemplateOutlet]="cardTemplate"
                                    [ngTemplateOutletContext]="{
                                        $implicit: item,
                                        front: true,
                                    }" />
                            </playing-card-front>
                        </playing-card>
                        <div class="answer">
                            @if (isSorted) {
                                <fit-text [text]="item.value" />
                            }
                            <span>&nbsp;</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
} @else {
    <div @fadeInOut class="game-panel">
        <h1>{{ question.name }}</h1>
    </div>
}

<ng-template #cardTemplate let-item let-front="front">
    <div class="layout-column layout-fill">
        <img [src]="item.imageSrc | blobToUrl" />
        <div
            class="label"
            [class.bg-green]="front"
            [class.bg-blue]="!front"
            [fitText]="item.name">
            <span>{{ item.name }}</span>
        </div>
    </div>
</ng-template>
