$colors: (
    ('red', rgb(253, 44, 56)),
    ('yellow', rgb(255, 158, 27)),
    ('green', rgb(19, 170, 82)),
    ('blue', rgb(59, 149, 237)),
    ('purple', rgb(150, 93, 233)),
    ('pink', rgb(221, 70, 206)),
    ('grey', rgb(105, 105, 105))
);

@each $color-name, $color-value in $colors {
    @property --base-#{$color-name} {
        syntax: '<color>';
        initial-value: #{$color-value};
        inherits: false;
    }
}

@property --bg-base {
    syntax: '<color>';
    initial-value: rgb(59, 149, 237);
    inherits: false;
}

:root {
    // Set the --bg-[color] root variables
    @each $color-name, $color-value in $colors {
        --bg-#{$color-name}: radial-gradient(
            circle at 10% 20%,
            var(--base-#{$color-name}) 0%,
            hsl(from var(--base-#{$color-name}) h s calc(l - 10)) 90%
        );
    }
}

@each $color-name, $color-value in $colors {
    .bg-#{$color-name} {
        background-image: var(--bg-#{$color-name});
    }
}

.bg-preview {
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}
