:root {
    --bg-red: linear-gradient(
        108.4deg,
        rgb(253, 44, 56) 3.3%,
        rgb(176, 2, 12) 98.4%
    );

    --bg-blue: radial-gradient(
        circle at 10% 20%,
        rgb(59, 149, 237) 0%,
        rgb(7, 91, 173) 90%
    );

    --bg-green: radial-gradient(
        circle at -1% 57.5%,
        rgb(19, 170, 82) 0%,
        rgb(0, 102, 43) 90%
    );

    --bg-yellow: linear-gradient(
        109.6deg,
        rgb(255, 207, 84) 11.2%,
        rgb(255, 158, 27) 91.1%
    );

    --bg-purple: linear-gradient(
        83.2deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );

    --bg-grey: linear-gradient(
        110.3deg,
        rgba(73, 93, 109, 1) 4.3%,
        rgba(49, 55, 82, 1) 96.7%
    );
}

.bg-red {
    background: var(--bg-red);
}

.bg-blue {
    background: var(--bg-blue);
}

.bg-green {
    background: var(--bg-green);
}

.bg-yellow {
    background: var(--bg-yellow);
}

.bg-purple {
    background: var(--bg-purple);
}

.bg-grey {
    background: var(--bg-grey);
}

.bg-preview {
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}
