@use './reset' as reset;

.game-layout {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: var(--padding-amount);

    // Sit content in the middle, evenly spaced between
    align-items: center;
    justify-content: space-evenly;
}

.pocket-pals-game {
    @include reset.reset();

    // Set default size to 1920x1080
    @extend .size-1920x1080;

    &:has(.game-panel) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    &:not(:has(.game-panel)) {
        @extend .game-layout;
    }

    .game-panel {
        // Fit panel to panel container
        grid-row: 1;
        grid-column: 1;
        @extend .game-layout;
    }

    // Text
    font-family: var(--game-font-family);
    color: white;
    text-align: center;

    h1 {
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
    }

    h2 {
        font-size: 50px;
        font-weight: 500;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-shadow: var(--text-shadow);
    }
}

.size-1920x1080 {
    width: 1920px !important;
    height: 1080px !important;
}

.size-1440x1080 {
    width: 1440px !important;
    height: 1080px !important;
}
