@use '@angular/material' as mat;

@mixin all-material() {
    :root {
        --rounding: 10px;
    }

    html {
        @include mat.theme(
            (
                color: (
                    theme-type: light,
                    primary: mat.$azure-palette,
                ),
                typography: Roboto,
                density: 0,
            )
        );

        @include _button();
        @include _dialog();
        @include _toolbar();
    }
}

@mixin _button() {
    @include mat.button-overrides(
        (
            filled-container-shape: var(--rounding),
            outlined-container-shape: var(--rounding),
            protected-container-shape: var(--rounding),
            text-container-shape: var(--rounding),
        )
    );

    .error {
        @include mat.button-overrides(
            (
                filled-container-color: var(--mat-sys-error),
                filled-label-text-color: var(--mat-sys-on-error),
            )
        );
    }
}

@mixin _dialog() {
    @include mat.dialog-overrides(
        (
            container-shape: var(--rounding),
        )
    );

    mat-dialog-content {
        min-width: 400px;
    }
}

@mixin _toolbar() {
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-primary),
            container-text-color: var(--mat-sys-on-primary),
        )
    );

    mat-toolbar {
        flex-shrink: 0;

        @include mat.icon-button-overrides(
            (
                icon-color: var(--mat-sys-on-primary),
            )
        );
    }
}
