@mixin all-padding() {
    .p-top {
        padding-top: var(--padding-amount) !important;
    }

    .p-bottom {
        padding-bottom: var(--padding-amount) !important;
    }

    .p-left {
        padding-left: var(--padding-amount) !important;
    }

    .p-right {
        padding-right: var(--padding-amount) !important;
    }

    .p-x {
        @extend .p-left;
        @extend .p-right;
    }

    .p-y {
        @extend .p-top;
        @extend .p-bottom;
    }

    .p {
        @extend .p-x;
        @extend .p-y;
    }

    .g-row {
        row-gap: var(--padding-amount);

        * {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .g-column {
        column-gap: var(--padding-amount);

        * {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .g {
        gap: var(--padding-amount);

        * {
            margin: 0;
        }
    }

    .overflow-visible {
        overflow: visible !important;
    }
}
