.screenshot-panel {
    width: 100%;
    height: 100%;
    container-type: size;
    position: relative;
    overflow: hidden;

    .screenshot {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;

        img,
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        h1 {
            position: absolute;
            margin: 0;
            top: 3cqh;
            left: 3cqh;
            font-size: 15cqh;
            filter: drop-shadow(0px 0px 3px black);
        }

        game-hero {
            height: 100%;
            width: 100%;
        }
    }

    .dimmed {
        filter: grayscale(10);
    }

    .progress {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        overflow: hidden;

        .progress-bar {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                var(--base-blue),
                var(--base-pink)
            );
            clip-path: inset(0% var(--clip-right, 100%) 0% 0%);
        }
    }
}
