@let resources = this.resources();
@let currentQuestion = this.currentQuestion();

<audio
    #audio
    src="audio/music_screenshot_in_the_dark.webm"
    (play)="onPlay()"
    (pause)="onPause()"
    (ended)="onPause()"
    (seeked)="onSeek()"></audio>
<mat-card class="screenshot-panel">
    @if (resources && currentQuestion) {
        @let screenshot = currentScreenshot();
        <div @fadeInOut class="screenshot bg-purple">
            <game-hero [gameId]="this.gameId()!" />
        </div>
        <div class="screenshot" [class.hidden]="screenshot > 6">
            <h1>1 point</h1>
            @if (currentQuestion.finalIsVideo) {
                <video
                    autoplay
                    [muted]="'muted'"
                    loop
                    [src]="resources.src6"></video>
            } @else {
                <img [src]="resources.src6" />
            }
        </div>
        <div class="screenshot" [class.hidden]="screenshot > 5">
            <h1>2 points</h1>
            <img [src]="resources.src5" />
        </div>
        <div class="screenshot" [class.hidden]="screenshot > 4">
            <h1>3 points</h1>
            <img [src]="resources.src4" />
        </div>
        <div class="screenshot" [class.hidden]="screenshot > 3">
            <h1>4 points</h1>
            <img [src]="resources.src3" />
        </div>
        <div class="screenshot" [class.hidden]="screenshot > 2">
            <h1>5 points</h1>
            <img [src]="resources.src2" />
        </div>
        <div class="screenshot" [class.hidden]="screenshot > 1">
            <h1>6 points</h1>
            <img [src]="resources.src1" />
        </div>
        <img
            class="screenshot"
            src="img/screenshot_in_the_dark.png"
            [class.hidden]="screenshot > 0" />
    } @else {
        <img
            @fadeInOut
            class="screenshot dimmed"
            src="img/screenshot_in_the_dark.png" />
    }
    <div class="progress">
        <div
            class="progress-bar"
            [style.--clip-right.%]="100 - screenshotProgress()"></div>
    </div>
</mat-card>
