.game-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    grid-auto-rows: minmax(10%, 30%);
    /* Spacing between items */
    gap: var(--padding-amount);
}

mat-card.game {
    overflow: hidden;

    game-hero {
        width: 100%;
        height: 100%;
    }

    &.selected {
        opacity: 0.8;
        filter: saturate(0);
    }
}

.hero {
    width: 100%;
    height: 50%;
}

.cards {
    width: 100%;
    height: 50%;
}

.hide-until-loaded {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.visible {
        opacity: 1;
    }
}

playing-card {
    height: 100%;
    container-type: size;
    text-shadow: var(--shadow);
    text-transform: capitalize;

    h1 {
        font-size: 50cqh;

        &:has(fit-text) {
            font-size: unset;
            --max-font-size: 50cqh;
        }
    }

    h2 {
        font-size: 15cqh;
    }
}
