:host {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;

    --grid-label-outline-color: black;
    --grid-label-outline-size: 5cqh;
    --grid-line-weight: 3px;
    --grid-line-color: rgb(0, 213, 255);
}

.map {
    display: block;
    margin: auto;
    aspect-ratio: 1 / 1;
    height: 100%;
    overflow: hidden;
    position: relative;

    .map-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.grid {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    border-collapse: collapse;

    td {
        position: relative;
        border: var(--grid-line-weight) solid var(--grid-line-color);
        cursor: pointer;
    }

    tr {
        &:first-child td {
            border-top-color: transparent;
        }
        &:last-child td {
            border-bottom-color: transparent;
        }

        td {
            &:first-child {
                border-left-color: transparent;
            }
            &:last-child {
                border-right-color: transparent;
            }
        }
    }
}

.grid-cell {
    position: absolute;
    inset: 0;
    container-type: size;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        opacity: 0.5;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40cqh;
        font-weight: 100;
        text-shadow:
            0 0 var(--grid-label-outline-size) var(--grid-label-outline-color),
            0 0 var(--grid-label-outline-size) var(--grid-label-outline-color),
            0 0 var(--grid-label-outline-size) var(--grid-label-outline-color),
            0 0 var(--grid-label-outline-size) var(--grid-label-outline-color);
        color: white;
    }
}

.highlight {
    background-color: color-mix(in srgb, goldenrod 50%, transparent);
    animation: glow 1s infinite alternate; /* Applies the animation */
}

/* Keyframes define the animation stages */
@keyframes glow {
    from {
        /* Initial state: subtle shadow */
        box-shadow: 0 0 10px 0px gold;
    }
    to {
        /* Final state: brighter, more spread-out shadow */
        box-shadow: 0 0 40px 15px goldenrod;
    }
}

.pin {
    position: absolute;
    height: 100cqh;
    width: 100cqh;
    top: -50cqh;
}
