.tweet {
    container-type: size;
    height: 100%;
    width: 100%;
    --gap: 3cqh;
    background-color: white;
    color: black;
    font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
    font-weight: 400;
    text-align: left;
    border-radius: var(--rounding);
    box-shadow: var(--mat-sys-level5);

    .header {
        container-type: size;
        height: 20cqh;
        margin: var(--gap);
        gap: var(--gap);
        margin-bottom: 0;

        .layout-row {
            gap: var(--gap);
        }

        img {
            aspect-ratio: 1;
            height: 100cqh;
            border-radius: 100%;
        }

        .header-title {
            font-size: 35cqh;
            font-weight: bold;
        }

        .header-subtitle {
            font-size: 35cqh;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .content {
        padding: 0;
        margin: var(--gap);
    }

    .prompt {
        font-size: 10cqh;
        box-sizing: content-box;
        overflow: hidden;
    }

    .footer {
        border-top: 1px solid gray;
        padding: var(--gap);
        font-size: 5cqh;

        .stat {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: var(--gap);
            width: 15%;

            svg {
                width: 5cqh;
            }
        }
    }
}

.hidden {
    opacity: 0;
}
