@let tagsWithBreakpoint = this.tagsWithBreakpoint();

<div class="game-display" [class.game-display-shown]="this.showingAnswer()">
    <game-hero [gameId]="this.gameId()!" />
</div>

<div class="tags-layout">
    <div class="tag-container tag-container-list">
        @for (tag of tagsWithBreakpoint[0]; track $index) {
            <div class="tag animate__animated animate__bounceInUp">
                {{ tag }}
            </div>
        }
    </div>

    <div class="tag-container tag-container-current">
        @for (tag of tagsWithBreakpoint[1]; track $index) {
            <div class="tag animate__animated animate__pulse">{{ tag }}</div>
        }
    </div>
</div>
