img {
    object-fit: contain;
}

.logo {
    width: 512px;
    height: 300px;
    background-color: var(--mat-sys-surface-dim);
    padding: var(--padding-amount);
    box-sizing: border-box;

    img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(5px 5px 5px #000000aa);
    }
}

.hero {
    width: 512px;
    height: 165px;
}

.placeholder {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    border-style: dashed;
    border-width: 3px;
    border-color: var(--mat-sys-outline-variant);
}
