.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-card {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    // Fallback text when images don't exist
    color: white;
    text-align: center;
    font-size: 30px;
}

.game-hero {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 110%;
    height: 110%;
    object-fit: cover;
    filter: blur(7px);
}

.game-logo {
    z-index: 2;
    width: 100%;
    filter: drop-shadow(4px 4px 5px #000000bb);
}
