:host {
    display: flex;
    font-family: var(--game-font-family);
    color: white;
    text-align: center;
    width: 800px;
    height: 200px;
    padding-top: 50px;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
