:host {
    display: flex;
    flex-direction: column;
    aspect-ratio: 3/4;
    width: 100%;
    overflow: visible;
    box-sizing: border-box;
    container-type: size;
}

.player-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    animation-delay: 100ms;
}

.player-name {
    height: 40%;
    width: 100%;
    margin-top: -30%;

    /** Ensure the child <fit-text> element doesn't size text larger than the
    available vertical space of the container. */
    container-type: size;
    --max-font-size: 100cqh;

    display: flex;
    border-radius: 10cqh;
    box-shadow: var(--mat-sys-level5);
    padding: 10%;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
        circle at 10% 20%,
        var(--base-color) 0%,
        hsl(from var(--base-color) h s calc(l - 10)) 90%
    );

    font-family: var(--game-font-family);
    color: white;
    text-align: center;
    text-wrap: balance;
    text-transform: uppercase;
}
