<mat-toolbar>
    @if (editing) {
        <span>Edit buzzer player</span>
    } @else {
        <span>Add buzzer player</span>
    }
</mat-toolbar>

<mat-dialog-content class="layout-column g">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required cdkFocus [(ngModel)]="name" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Team</mat-label>
        <mat-select [(ngModel)]="teamId">
            <mat-option [value]="null">None</mat-option>
            @for (team of teams(); track team.id) {
                <mat-option [value]="team.id">
                    {{ team.name }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <image-file-field
        [(fileToUpload)]="imageFileToUpload"
        label="Avatar image" />
    <audio-file-field
        [(fileToUpload)]="soundFileToUpload"
        label="Sound effect" />
    <progress-indicator [monitor]="progress" />
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
        mat-flat-button
        [disabled]="!isValid() || loading()"
        (click)="submit()">
        @if (editing) {
            <span>Edit</span>
        } @else {
            <span>Add</span>
        }
    </button>
</mat-dialog-actions>
