<mat-toolbar>
    @if (editing) {
        <span>Edit buzzer player</span>
    } @else {
        <span>Add buzzer player</span>
    }
</mat-toolbar>

<mat-dialog-content class="layout-column g">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required cdkFocus [(ngModel)]="name" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Team</mat-label>
        <mat-select [(ngModel)]="teamId">
            <mat-option [value]="null">None</mat-option>
            @for (team of teams(); track team.firebaseId) {
                <mat-option [value]="team.firebaseId">
                    {{ team.name }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Image</mat-label>
        <input
            matInput
            readonly
            [value]="
                imageFileInput.files![0]
                    ? imageFileInput.files![0].name
                    : 'Upload a file'
            "
        />
        <button matSuffix mat-button (click)="imageFileInput.click()">
            Choose file
        </button>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Sound effect</mat-label>
        <input
            matInput
            readonly
            [value]="
                soundFileInput.files![0]
                    ? soundFileInput.files![0].name
                    : 'Upload a file'
            "
        />
        <button matSuffix mat-button (click)="soundFileInput.click()">
            Choose file
        </button>
    </mat-form-field>
    <input
        type="file"
        #imageFileInput
        hidden
        accept="image/*"
        (change)="imageFileToUpload.set(imageFileInput.files![0])"
    />
    <input
        type="file"
        #soundFileInput
        hidden
        accept="audio/*"
        (change)="soundFileToUpload.set(soundFileInput.files![0])"
    />
    <mat-progress-bar value="{{ uploadProgress() }}" />
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
        mat-flat-button
        [disabled]="!isValid() || loading()"
        (click)="submit()"
    >
        @if (editing) {
            <span>Edit</span>
        } @else {
            <span>Add</span>
        }
    </button>
</mat-dialog-actions>
