@let _state = state();

<div class="layout-column g">
    <div class="layout-row layout-items-middle g">
        <mat-slide-toggle
            [checked]="_state.buzzersEnabled"
            (change)="setBuzzersEnabled($event.checked)">
            <span>Buzzers enabled</span>
        </mat-slide-toggle>
        <mat-slide-toggle
            [checked]="_state.correctLocksNextQuestion"
            (change)="setCorrectLocksNextQuestion($event.checked)">
            Lock on correct
        </mat-slide-toggle>
        <mat-slide-toggle
            [checked]="_state.incorrectLocksThisQuestion"
            (change)="setIncorrectLocksThisQuestion($event.checked)">
            Lock on incorrect
        </mat-slide-toggle>
        <button
            mat-flat-button
            (click)="resetAllBuzzers()"
            [disabled]="!anyPlayersBuzzed()">
            <mat-icon>refresh</mat-icon>
            <span>Reset all</span>
        </button>
        <button
            mat-flat-button
            (click)="unlockAll()"
            [disabled]="!anyPlayersLocked()">
            <mat-icon>lock_open</mat-icon>
            <span>Unlock all</span>
        </button>
    </div>
    <div class="layout-row layout-items-fill g">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Buzzed in players</mat-card-title>
            </mat-card-header>
            <mat-list>
                @for (player of buzzedInPlayers(); track player.id) {
                    @let team = player.teamId | team: teams();
                    <mat-list-item>
                        <img
                            matListItemAvatar
                            src="{{
                                team?.color || 'rgb(59, 149, 237)'
                                    | imageColorSrc
                            }}" />
                        <span>{{ player.name }}</span>
                        <div matListItemMeta class="g">
                            @if ($first) {
                                <button
                                    mat-icon-button
                                    class="correct"
                                    (click)="markCorrect(player)">
                                    <mat-icon>check_circle</mat-icon>
                                </button>
                                <button
                                    mat-icon-button
                                    class="incorrect"
                                    (click)="markIncorrect(player)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            }

                            <button
                                mat-icon-button
                                (click)="resetBuzzer(player.id)">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                }
                @for (
                    number of players().length - buzzedInPlayers().length
                        | numberArray;
                    track number
                ) {
                    <mat-list-item disabled
                        >Player
                        {{ number + buzzedInPlayers().length }}</mat-list-item
                    >
                }
            </mat-list>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Buzzed out players</mat-card-title>
            </mat-card-header>
            <mat-list>
                @for (player of buzzedOutPlayers(); track player.id) {
                    @let team = player.teamId | team: teams();
                    <mat-list-item>
                        <img
                            matListItemAvatar
                            src="{{
                                team?.color || 'rgb(59, 149, 237)'
                                    | imageColorSrc
                            }}" />
                        <span>{{ player.name }}</span>
                        <div matListItemMeta class="g">
                            <button mat-icon-button (click)="buzzIn(player.id)">
                                <mat-icon>highlight_mouse_cursor</mat-icon>
                            </button>

                            @if (player.lockedOut) {
                                <button
                                    mat-mini-fab
                                    class="error"
                                    (click)="toggleLock(player.id, true)">
                                    <mat-icon>lock</mat-icon>
                                </button>
                            } @else {
                                <button
                                    mat-icon-button
                                    (click)="toggleLock(player.id, false)">
                                    <mat-icon>lock_open</mat-icon>
                                </button>
                            }
                        </div>
                    </mat-list-item>
                }
            </mat-list>
        </mat-card>
    </div>
</div>
