@let markCorrectTooltip =
    state().correctLocksNextQuestion
        ? 'Mark this player as correct. This will reset all buzzers and lock this player from answering the next question. Any locked players will be unlocked.'
        : 'Mark this player as correct. This will reset all buzzers. Any locked players will be unlocked.';
@let markIncorrectTooltip =
    state().incorrectLocksThisQuestion
        ? 'Mark this player as incorrect. This will reset their buzzer and lock them until another player is marked correct.'
        : 'Mark this player as incorrect. This will reset their buzzer and they will immediately be able to buzz in again.';

<div class="layout-column g">
    <!-- Global options -->
    <div class="layout-row layout-items-middle g">
        <mat-slide-toggle
            [checked]="state().buzzersEnabled"
            (change)="setBuzzersEnabled($event.checked)">
            <span>Buzzers enabled</span>
        </mat-slide-toggle>
        <button
            mat-flat-button
            (click)="resetAllBuzzers()"
            [disabled]="!anyPlayersBuzzed()">
            <mat-icon>refresh</mat-icon>
            <span>Reset all</span>
        </button>
        <button
            mat-flat-button
            (click)="unlockAll()"
            [disabled]="!anyPlayersLocked()">
            <mat-icon>lock_open</mat-icon>
            <span>Unlock all</span>
        </button>
        <span class="layout-fill"></span>
        <button
            mat-flat-button
            #optionsButton="cdkOverlayOrigin"
            cdkOverlayOrigin
            (click)="optionsOpen.set(!optionsOpen())">
            <mat-icon>settings</mat-icon>
            <span>Options</span>
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
    </div>

    <div class="layout-row layout-items-fill g">
        <!-- Buzzed in players -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>Buzzed in players</mat-card-title>
            </mat-card-header>
            <mat-list [disabled]="!state().buzzersEnabled">
                @for (player of buzzedInPlayers(); track player.id) {
                    @let team = getTeam | call: player : teams();
                    <mat-list-item>
                        <span
                            class="dot"
                            [style.background-color]="
                                team?.color || 'rgb(59, 149, 237)'
                            "></span>
                        <span> {{ player.name }}</span>
                        <div matListItemMeta class="g">
                            @if ($first) {
                                <button
                                    mat-icon-button
                                    class="correct"
                                    [matTooltip]="markCorrectTooltip"
                                    [disabled]="!state().buzzersEnabled"
                                    (click)="markCorrect(player)">
                                    <mat-icon>check_circle</mat-icon>
                                </button>
                                <button
                                    mat-icon-button
                                    class="incorrect"
                                    [matTooltip]="markIncorrectTooltip"
                                    [disabled]="!state().buzzersEnabled"
                                    (click)="markIncorrect(player)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            }

                            <button
                                mat-icon-button
                                matTooltip="Reset this player's buzzer. They will be able to immediately buzz in again."
                                [disabled]="!state().buzzersEnabled"
                                (click)="resetBuzzer(player.id)">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                }
                @for (
                    number of players().length - buzzedInPlayers().length
                        | numberArray;
                    track number
                ) {
                    <mat-list-item disabled
                        >Player
                        {{ number + buzzedInPlayers().length }}</mat-list-item
                    >
                }
            </mat-list>
        </mat-card>

        <!-- Buzzed out players -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>Buzzed out players</mat-card-title>
            </mat-card-header>
            <mat-list [disabled]="!state().buzzersEnabled">
                @for (player of buzzedOutPlayers(); track player.id) {
                    @let team = getTeam | call: player : teams();
                    <mat-list-item>
                        <span
                            class="dot"
                            [style.background-color]="
                                team?.color || 'rgb(59, 149, 237)'
                            "></span>
                        <span> {{ player.name }}</span>
                        <div matListItemMeta class="g">
                            <button
                                mat-icon-button
                                [disabled]="!state().buzzersEnabled"
                                (click)="buzzIn(player.id)">
                                <mat-icon>highlight_mouse_cursor</mat-icon>
                            </button>

                            @if (player.lockedOut) {
                                <button
                                    mat-mini-fab
                                    class="error"
                                    (click)="toggleLock(player.id, true)">
                                    <mat-icon>lock</mat-icon>
                                </button>
                            } @else {
                                <button
                                    mat-icon-button
                                    (click)="toggleLock(player.id, false)">
                                    <mat-icon>lock_open</mat-icon>
                                </button>
                            }
                        </div>
                    </mat-list-item>
                }
            </mat-list>
        </mat-card>
    </div>
</div>

<!-- Options overlay menu -->
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="optionsButton"
    [cdkConnectedOverlayOpen]="optionsOpen()"
    [cdkConnectedOverlayPositions]="[
        {
            originX: 'end',
            originY: 'bottom',
            overlayX: 'end',
            overlayY: 'top',
        },
    ]"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="optionsOpen.set(false)">
    <mat-card class="layout-column p g">
        <mat-slide-toggle
            [checked]="state().correctLocksNextQuestion"
            (change)="setCorrectLocksNextQuestion($event.checked)">
            <span
                >When correct, lock player for
                <strong>next</strong> question</span
            >
        </mat-slide-toggle>
        <mat-slide-toggle
            [checked]="state().incorrectLocksThisQuestion"
            (change)="setIncorrectLocksThisQuestion($event.checked)">
            <span
                >When incorrect, lock player for
                <strong>this</strong> question</span
            >
        </mat-slide-toggle>
        <mat-slide-toggle
            [checked]="state().incorrectLocksTeamThisQuestion"
            (change)="setIncorrectLocksTeamThisQuestion($event.checked)">
            <span
                >When incorrect, lock <strong>team</strong> for
                <strong>this</strong> question</span
            >
        </mat-slide-toggle>
    </mat-card>
</ng-template>
