@let state = this.state();
@let questions = this.questions();
@let question = currentQuestion();

<div class="layout-column g">
    <question-selector
        [questions]="questions"
        [currentQuestion]="currentQuestion()"
        (currentQuestionChange)="setQuestion($event)"
        (reset)="reset()"
        [documentation]="docs"
        canNavigate
        (addQuestion)="addQuestion()"
        canDelete
        (deleteQuestion)="deleteQuestion($event)">
        <question-display *question="let question; from: questions">
            <span>{{ question.gameId | gameName }}</span>
            <span> - {{ question.trackName }}</span>
        </question-display>
    </question-selector>

    @if (question) {
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{
                    question.gameId | gameName
                }}</mat-card-title>
                <mat-card-subtitle>{{ question.trackName }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="layout-column g p-y">
                <button
                    mat-flat-button
                    [disabled]="state.showingGame || state.showingTrack"
                    (click)="togglePlayBackwards(!state.playingBackwards)">
                    <mat-icon>{{
                        state.playingBackwards ? 'pause' : 'arrow_back_2'
                    }}</mat-icon>
                    @if (state.playingBackwards) {
                        <span>Pause backwards</span>
                    } @else {
                        <span>Play backwards</span>
                    }
                </button>

                <button
                    mat-flat-button
                    (click)="toggleShowGame(!state.showingGame)">
                    <mat-icon>{{
                        state.showingGame ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                    @if (state.showingGame) {
                        <span>Hide game</span>
                    } @else {
                        <span>Show game: {{ question.gameId | gameName }}</span>
                    }
                </button>

                <button
                    mat-flat-button
                    (click)="toggleShowTrack(!state.showingTrack)">
                    <mat-icon>{{
                        state.showingTrack ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                    @if (state.showingTrack) {
                        <span>Hide track</span>
                    } @else {
                        <span>Show track {{ question.trackName }}</span>
                    }
                </button>

                <button
                    mat-flat-button
                    [disabled]="!state.showingGame && !state.showingTrack"
                    (click)="togglePlayForwards(!state.playingForwards)">
                    <mat-icon>{{
                        state.playingForwards ? 'pause' : 'play_arrow'
                    }}</mat-icon>
                    @if (state.playingForwards) {
                        <span>Pause forwards</span>
                    } @else {
                        <span>Play forwards</span>
                    }
                </button>

                <button
                    class="error"
                    mat-flat-button
                    matTooltip="Reset the question prior to selecting another question, or the game/track will be visible."
                    (click)="resetQuestion()">
                    <mat-icon>refresh</mat-icon>
                    <span>Reset question</span>
                </button>
            </mat-card-content>
        </mat-card>
    }
</div>
