.game-card {
    width: 80%;
    height: 40%;
    container-type: size;

    playing-card-back {
        font-size: 30cqh;
        text-transform: none;
    }
}

.track-card {
    width: 80%;
    height: 20%;
    container-type: size;

    playing-card-back,
    playing-card-front {
        font-size: 60cqh;
        text-transform: none;
    }
}

.audio-card {
    width: 80%;
    height: 30%;
    overflow: hidden;
    position: relative;

    audio-visualizer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
