<mat-toolbar>
    <img src="pockety.png" />
    <span>Pocket Pals Director</span>
    <button mat-button [routerLink]="'home'">Home</button>
    @if (auth.isAdmin()) {
        <button mat-button [mat-menu-trigger-for]="gameSelectMenu">
            <span>Games</span>
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <button mat-button [routerLink]="'players'">Players</button>
    }
    <mat-slide-toggle [(ngModel)]="soundEnabled">
        <span>Sound enabled</span>
    </mat-slide-toggle>
    <span class="layout-fill"></span>
    @if (auth.user()) {
        <button mat-button (click)="auth.signOut()">
            <span>Sign out {{ auth.user()?.displayName }}</span>
            @if (auth.isAdmin()) {
                <span> (Administrator)</span>
            }
        </button>
    } @else {
        <button mat-button (click)="auth.signIn()">Sign in</button>
    }
</mat-toolbar>

<div class="layout-fill layout-scroll-y p-x">
    <router-outlet></router-outlet>
</div>

<mat-menu #gameSelectMenu>
    @for (game of games; track $index) {
        <button mat-menu-item [routerLink]="['director', game.slug]">
            <span>{{ game.name }}</span>
        </button>
    }
</mat-menu>
