@let game = this.game();
@let logoSrc = this.logoSrc();
@let heroSrc = this.heroSrc();

@if (game) {
    @if (heroSrc) {
        <img
            class="game-hero"
            [src]="heroSrc"
            (load)="heroLoaded.set(true)"
            (error)="heroLoaded.set(true)" />
    }
    @if (logoSrc) {
        <img
            class="game-logo"
            [class.top]="align() === 'top'"
            [class.bottom]="align() === 'bottom'"
            [src]="logoSrc"
            (load)="logoLoaded.set(true)"
            (error)="logoLoaded.set(true)" />
    } @else {
        <span>{{ game.name }}</span>
    }
}
