:host {
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    color: white;
    text-align: center;
    font-size: 30px;
}

.game-hero {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    object-fit: cover;
    filter: blur(7px);
}

.game-logo {
    width: 80%;
    height: 80%;
    object-fit: contain;
    filter: drop-shadow(4px 4px 5px #000000bb);

    &.top {
        height: 40%;
        margin-bottom: 40%;
    }

    &.bottom {
        height: 40%;
        margin-top: 40%;
    }
}
