@use './styles/material' as material;
@use './styles/layout' as layout;
@use './styles/padding' as padding;

@include material.all-material();
@include layout.all-layout();
@include padding.all-padding();

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
