:host {
    height: 75%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: calc(2 * var(--padding-amount));
}

.category {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    font-size: 60px;
    border-radius: var(--rounding);
    box-shadow: var(--mat-sys-level5);
    overflow: hidden;

    --bg-base: var(--base-blue);
    background-image: radial-gradient(
        circle at 10% 20%,
        var(--bg-base) 0%,
        hsl(from var(--bg-base) h s calc(l - 20)) 90%
    );
    transition: --bg-base opacity 1s linear;

    &.selected {
        --bg-base: var(--base-grey);
        opacity: 0.8;
    }
}
